%dl,
%ul,
%ol {

}

/* Definition Lists */
%dl {
    display: flex;
    flex-wrap: wrap;

    dt,
    dd {

    }

    dt {
        font-weight: bold;
        flex-basis: 33%;
    }

    dd {
        flex-basis: 66%;
    }
}

/* Unordered Lists */
%ul {

}

/* Ordered Lists */
%ol {

}
