.site-footer {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  text-align: left;
  background-color: $color-accent;
  padding: 80px;
}

section.widget {
  flex-basis: 100%;
}

  h2.widget-title {
    color: $color-white;
  }

.site-info {

}