.site-branding {
  position: absolute;
  z-index: 1;
  margin-left: 80px;
}

.site-title a {
  color: white;
  text-decoration: none;
  text-transform: none;
  line-height: 100px;
  margin-top:80px;
}