.widgets-area {
  background-color: $color-accent;

  padding: 80px 80px 0px 80px;
  width: 100%;
  margin: 0 auto;

  .widget-area {
    display: flex;
    justify-content: space-between;
    padding: 0 40px;
    p, a, ul, ul > li, li,
    .calendar_wrap{
      color: white;
    }

    .widget {
      display: inline-flex;
      flex: 1 1 100%;
      flex-flow: column wrap;
      padding: 40px;
    }
  }
}