.widgets-area {
  background-color: $color-accent;
  width: 100%;
  margin: 0 auto;

  .widget-area {
    //display: flex;
    //justify-content: space-between;
    //padding: 0 40px;
    //p, a, ul, ul > li, li,
    //.calendar_wrap{
    //  color: white;
    //}
    position: relative;
    display: flex;
    flex-flow: row wrap;
    padding: 40px;

    .widget {
      //background-color: tomato;
      box-sizing: border-box;
      padding: 40px;
      outline: 2px solid blue;
      flex: 1;
      flex-basis: 25%;

      .widget-title {
        font-size: 32px;
        padding: 0;
      }

      .textwidget {
        color: white;
      }

      ul {
        margin: 0;
      }

      ul > li {
        list-style: none;
        margin: 0;
        line-height: 24px;
      }

      ul > li > a {
        color: white;
        font-size: 17px;
        font-weight: 300;
      }
    }

    .widget_nav_menu ul > li > a {
      font-size: 24px;
      font-weight: bold;
      line-height: 36px;
    }
  }
}