#content {
  display: block;
}

.site-main {
  display: block;
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  padding:0px;
}

nav.pagination {
  display: block;
  width: 100%;
  padding: 40px 0 80px 0;
  font-weight: bold;
  font-size: 16px;
  color: $color-accent;

  .nav-links {
    display: flex;
    align-content: center;
    .page-numbers {
      align-content: center;
    }
    .next {
      font-size: 32px;
      color: #313131;
      align-self: flex-end;
    }

  }
}