#content {
  display: block;
  margin: 0 40px;
}
/*
.site-main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
*/

.site-main {
  display: block;
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}
