.single-post {

  .site-title a {
    color: $color-accent;
  }

 .site-main {
   max-width: 100%;
   margin:0 auto;
 }

  .entry-thumbnail {
    margin-bottom: 0px;
    max-height: 300px;
    overflow: hidden;
    height: 300px;

    img {
      object-fit: cover;
      width: 100%;
      object-position: 50% 50%;
    }

    &:before {
      content:"";
      display:block;
      position:absolute;
      z-index: 2;
      height: 300px;
      width: 100%;
      background-color:rgba(0, 0, 0, .3);
    }

  }

  .entry-title {
    max-width: 1440px;
    margin: 0 auto;
    padding: 40px 80px;
  }

  .entry-meta {
    padding: 75px 0 30px 80px;
    max-width: 1440px;
    margin: 0 auto;
  }

  .single-post-content {
    max-width: 1440px;
    width: 100%;
    padding-right: 80px;
    margin: 0 auto;

    .entry-content {
      max-width: 600px;
      margin-left: 80px;
      margin-bottom: 80px;

      img {
        max-width: calc(600px + 100%);
      }
    }

    .entry-content p > img {
      margin: 80px 80px 80px 0px;
    }
    .footer-section {
      display: flex;
      flex-flow: row wrap;
      max-width: 1440px;
      width: 100%;
      flex: 100%;
      padding: 0 80px;
      justify-content: space-between;
      align-items: baseline;
      margin-top: -200px;
      margin-bottom: 80px;

      .entry-footer {

        .tags-links {

          color: $color-accent;
          text-transform: uppercase;
          word-spacing: 5px;
          font-weight: 500;
          font-size: 14px;

          a {
            @extend %link-style;
            font-size: 14px;

          }
        }
      }
    }
    .navigation_posts {
      max-width: 600px;
      padding-left: 45px;

      .nav-box {
        display: inline-block;
        max-width: 49%;

        &.previous {

        }
        a {
          @extend %link-style;

          .prev-title, .next-title {
            font-size: 32px;
            margin-bottom: 32px;
            text-transform: none;
            color: #313131;

          }
          .prev, .next {
            text-transform: uppercase;
            color: $color-accent;
            font-weight: 500;
            font-size: 14px;

          }
        }
      }
    }
  }
}

  .wp-caption,
  .gallery {
    margin-bottom: 32px;

    .wp-caption-text,
    .gallery-caption {
      color: $color-accent;

      &:before {
        content: "";
        border-bottom: 3px solid $color-accent;
        display: inline-block;
        width: 50px;
        vertical-align: middle;
        margin-right: 40px;
       }
      }
    }


  .comments-area {
    max-width: 1440px;
    margin: 0 auto;
    padding: 80px;
    color: $color-accent;

    .comment-list {
      .avatar {
        width: 40px;
        height: 40px;
        margin-bottom: -10px;
      }
      .comment-metadata {
        margin-top: 10px;
      }
      .fn {
        &:before {
          content: "";
          border-bottom: 3px solid $color-accent;
          display: inline-block;
          width: 50px;
          vertical-align: middle;
          margin-right: 30px;
        }
      }

      .bypostauthor {
        margin-bottom: 40px;
      }
      .reply a {
        @extend %link-style;
        color: $color-accent;
      }
    }
  }